:root{
    --fuente: 'Nanum Gothic', sans-serif!important;
}
body{
    background-color: white!important;
}
.contenedor_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    .inicio{
        border: 2px solid rgb(0, 132, 255);
        padding: 20px 20px 10px 20px;
        width: 80%;
        margin: 0 auto;
        h1{
            font-size: 2.7rem!important;
            line-height: 2.5rem;
            color:rgba(18, 50, 155, 0.486)!important;
        }
    }  
}

input{
    border: 0px!important;
    margin-bottom: 0px!important;
    box-shadow: none!important;
}
input::placeholder{
    color: grey!important;
    opacity: 1!important;
    font-size: 13px!important;
}
input:focus{
    border: 1px solid rgba(18, 50, 155, 0.486)!important;
}
label{
    display: block;
    color:grey;
    position: absolute;
    font-size: 13px!important;
    right: 0px;
    padding: 7px 10px 0 0;
    opacity: .8;
}
.contenedor{
    background-color: white;
    height: 500px;
    padding: 20px;
    margin-top: 100px;
}
.contenedor h2, h1{
    font-size: 30px!important;
    color: grey!important;
}
.contenedor_formulario{
    margin-top: 100px;
}
.contenedor_input{
    box-shadow: -4px 7px 19px 7px rgba(0,0,0,0.16);
    -webkit-box-shadow: -4px 7px 19px 7px rgba(0,0,0,0.16);
    -moz-box-shadow: -4px 7px 19px 7px rgba(0,0,0,0.16);
    position: relative;
}
.contenedor_botones{
    top: 200px;
    position: relative;
    width: 100%;
    margin: 0 auto!important;
    padding-bottom: 50px;
}
.password{
    margin-top: 25px;
    a{
        font-size: 13px;
    }
}
.nueva_tarjeta{
    position: fixed;
    top: 90%;
    right: 20px;
    a{
        border-radius: 50%;
    }
    a:hover{
        transform: scale(120%);
        transition: ease .5s;
    }
}
.tajeta_individual{
    h2{
        font-size: 16px;
    }
    h4{
        font-size: 13px;
    }
    h5{
        font-size: 13px;
    }
    hr{
        margin: 5px 0px 10px;
    }
}
.filtros{
    text-align: center;
    ul{
        list-style: none;
    }
}
nav{
    li{
        list-style: none;
        display: inline-flex;
    }
}
.buscador{
    box-shadow: none;
}
.contenedor_perfil{
    div{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    img{
        border-radius: 50%;
        height: 200px;
    }
}
.datos_usuario{
    position: relative;
   p{
    margin-top: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
   } 
   span{
    position: absolute;
    right: 0px;
   }
}
.menu_perfil{
    background-color: azure;
    padding: 10px;
    border-bottom: 2px solid rgb(240, 252, 255);
    .small-6:last-child{
        text-align: right;
    }
    a{
        padding: 5px;
        font-size: 1.3rem;
    }
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }